.main-menu-mobile
    .mobile-menu__content
        ul.main-menu-mobile__list.list-style-remove
            li.main-menu-mobile__item.menu-item.js-close-menu-mobile
                a.main-menu-mobile__link(href='#') Item do menu
            li.main-menu-mobile__item.menu-item.js-close-menu-mobile
                a.main-menu-mobile__link(href='#') Item do menu
            li.main-menu-mobile__item.menu-item.js-close-menu-mobile
                a.main-menu-mobile__link(href='#') Item do menu
            li.main-menu-mobile__item.menu-item.js-close-menu-mobile
                a.main-menu-mobile__link(href='#') Item do menu
            li.main-menu-mobile__item.menu-item.js-close-menu-mobile
                a.main-menu-mobile__link(href='#') Item do menu
