.swiper-container.swiper-related-products
    .swiper-wrapper
        .swiper-slide
            a(href="#").product-thumb
                .product-thumb__image-container
                    img.product-thumb__image.image.block(src="https://static-production.gocase.com.br/products/34843/small/mockup_%281%29.jpg?1553713064", alt="")

                .product-thumb__text
                    .product-thumb__name
                        | Mochila Gocase Bag Personalizada - Poeira das Estrelas Manuscrita

                    .product-thumb__price
                        | R$ 299,90
        .swiper-slide
            a(href="#").product-thumb
                .product-thumb__image-container
                    img.product-thumb__image.image.block(src="https://static-production.gocase.com.br/products/34843/small/mockup_%281%29.jpg?1553713064", alt="")

                .product-thumb__text
                    .product-thumb__name
                        | Mochila Gocase Bag Personalizada - Poeira das Estrelas Manuscrita

                    .product-thumb__price
                        | R$ 299,90
        .swiper-slide
            a(href="#").product-thumb
                .product-thumb__image-container
                    img.product-thumb__image.image.block(src="https://static-production.gocase.com.br/products/34843/small/mockup_%281%29.jpg?1553713064", alt="")

                .product-thumb__text
                    .product-thumb__name
                        | Mochila Gocase Bag Personalizada - Poeira das Estrelas Manuscrita

                    .product-thumb__price
                        | R$ 299,90
        .swiper-slide
            a(href="#").product-thumb
                .product-thumb__image-container
                    img.product-thumb__image.image.block(src="https://static-production.gocase.com.br/products/34843/small/mockup_%281%29.jpg?1553713064", alt="")

                .product-thumb__text
                    .product-thumb__name
                        | Mochila Gocase Bag Personalizada - Poeira das Estrelas Manuscrita

                    .product-thumb__price
                        | R$ 299,90
        .swiper-slide
            a(href="#").product-thumb
                .product-thumb__image-container
                    img.product-thumb__image.image.block(src="https://static-production.gocase.com.br/products/34843/small/mockup_%281%29.jpg?1553713064", alt="")

                .product-thumb__text
                    .product-thumb__name
                        | Mochila Gocase Bag Personalizada - Poeira das Estrelas Manuscrita

                    .product-thumb__price
                        | R$ 299,90
        .swiper-slide
            a(href="#").product-thumb
                .product-thumb__image-container
                    img.product-thumb__image.image.block(src="https://static-production.gocase.com.br/products/34843/small/mockup_%281%29.jpg?1553713064", alt="")

                .product-thumb__text
                    .product-thumb__name
                        | Mochila Gocase Bag Personalizada - Poeira das Estrelas Manuscrita

                    .product-thumb__price
                        | R$ 299,90
        .swiper-slide
            a(href="#").product-thumb
                .product-thumb__image-container
                    img.product-thumb__image.image.block(src="https://static-production.gocase.com.br/products/34843/small/mockup_%281%29.jpg?1553713064", alt="")

                .product-thumb__text
                    .product-thumb__name
                        | Mochila Gocase Bag Personalizada - Poeira das Estrelas Manuscrita

                    .product-thumb__price
                        | R$ 299,90

    .swiper-nav-container
        button.swiper-nav-prev
            i.fas.fa-chevron-left

        button.swiper-nav-next
            i.fas.fa-chevron-right
