doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Gocase

    // Favicons
    link(rel='icon' type='image/png' href='assets/ico/favicon-32x32.png' sizes='32x32')
    link(rel='icon' type='image/png' href='assets/ico/favicon-16x16.png' sizes='16x16')

    // Misc
    meta(name='theme-color' content='#ec8ab3')

    // Removes iOS format detection
    meta(name='format-detection' content='telephone=no')
    meta(name='format-detection' content='date=no')
    meta(name='format-detection' content='address=no')
    meta(name='format-detection' content='email=no')

    // Fonts
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous')

    // Stylesheets
    link(rel='stylesheet' href='./assets/css/app.min.css')

header.main-header-wrapper.js-get-main-header-wrapper-height
    .main-header.js-get-main-header-height
        .container
            .main-header__mobile-controls
                .burger-icon-container.js-main-menu-mobile-toggle
                    .burger-icon.primary

            a(href='/').main-header__logo-container
                img.main-header__logo(src="./assets/images/logo-gocase.png", alt="")

            .main-header__search-container.hide-desktop-below
                .input-icon.right
                    input#form-icon-search.form-control.small(type='search' placeholder='Busque por temas, artes e produtos')
                    .input-icon__icon-container
                        .input-icon__icon
                            button.button.clean
                                i.fas.fa-search

            .hide-desktop-below(style="margin-left: auto")
                i.fas.fa-shopping-cart

            .hide-desktop-below
                .margin-left--small
                    a(href="#").s2 ENTRAR

            .main-header__mobile-controls(style="margin-left: auto")
                i.fas.fa-search
                .margin-left
                i.fas.fa-shopping-cart

    .main-menu
        .container
            ul.main-menu__list.list-style-remove
                li.main-menu__item.menu-item
                    a.main-menu__link(href='#') Item do menu
                li.main-menu__item.menu-item
                    a.main-menu__link(href='#') Item do menu
                li.main-menu__item.menu-item
                    a.main-menu__link(href='#') Item do menu
                li.main-menu__item.menu-item
                    a.main-menu__link(href='#') Item do menu
                li.main-menu__item.menu-item
                    a.main-menu__link(href='#') Item do menu
                li.main-menu__item.menu-item
                    a.main-menu__link(href='#') Item do menu
                li.main-menu__item.menu-item
                    a.main-menu__link(href='#') Item do menu

include template-parts/main-menu-mobile

.clearance.--main-header-wrapper
