include header

.page-wrapper.content-wrapper
    .container.padding-vertical
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae velit illo, consequuntur minima culpa ea.
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae velit illo, consequuntur minima culpa ea.
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae velit illo, consequuntur minima culpa ea.

include footer
