.color-select {
    display: flex;
    flex-wrap: wrap;
}

.color-select__item {
    background-color: get-color(primary);
    height: 4.5rem;
    width: 4.5rem;
    border: 3px solid #ddd;
    border-radius: 0.3rem;
    margin: 0 1rem 1rem 0;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        border-color: #555;
    }
}
