.separator-title {
    font-size: 1.6rem;
    position: relative;

    margin: 1rem 0;

    &::after {
        content: "";
        background-color: #ddd;

        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        height: 0.1rem;
        width: 100%;
    }

    &.small {
        color: #999;
        font-size: 1.4rem;
        font-weight: bold;
        letter-spacing: 0.05em;
    }
}

.separator-title__text {
    background-color: #fff;

    position: relative;
    display: inline-block;
    z-index: 1;
    padding: 0 1rem 0 0;
}
